.entryContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .container {
        height: 100%;

        .row {
            height: 100%;

            .entryWrapper {
                align-self: center;
                border-radius: 25px;
                background: #fafafa;
                padding: 30px;
                margin-bottom: 20px;
                
                .csp-btn-primary {
                    background-color: #e7717d;
                    border: 0px;
                    margin: 5px;
                }
                .csp-link-primary {
                    color: #FF6B95;;
                    border: 0px;
                    margin: 5px;
                }
            }
        }
    }
}
