<div class="entryContainer">
    <div class="container">
        <div class="row loginRow">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5 entryWrapper">
                <h3>Login</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.username.errors }" />
                        <div *ngIf="submitted &amp;&amp; loginForm.controls.username.errors" class="text-danger">
                            <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }"  />
                        <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger">
                            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                            <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary csp-btn-primary">Login</button>
                    </div>
                    <div class="form-group text-center">
                        <p>
                            Do not have an account?
                            <a routerLink="../register/" class="csp-link-primary"> 
                                SignUp here!
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
