<div class="container">

  <div class="row pb-4">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <div class="form-group">
        <label class="text-primary font-weight-bold text-center" for="exampleFormControlSelect1">
          Best Highlights </label>
        <select class="form-control text-primary font-weight-bold" id="exampleFormControlSelect1"
          (change)="onChange($event)">
          <option>Option</option>
          <option value="1">Cricket</option>
          <option value="2">Football</option>
          <option value="3">Hockey</option>
        </select>
      </div>
      <table class="table table-hover table-striped table-bordered highlightsTable table-responsive-md table-sm">
        <thead>
          <tr>
            <th class="text-secondary" >Clip</th>
            <th class="text-secondary" >SL no</th>
            <th class="text-primary" >Details</th>
            <th class="text-info" >Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let highligh of highlighs" class="table-{{ highligh.class }}" (click)="select(highligh)">
            <td class="text-secondary" ><i
                class="fab fa-youtube text-danger"></i></td>
            <td class="text-secondary" >{{ highligh.sl_no }}</td>
            <td class="text-primary" >{{ highligh.Details }}</td>
            <td class="text-info" >{{ highligh.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 pt-4" *ngIf="highlightsSelected">
      <div class="card bg-light mb-3 text-center">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ highlightsSelected.Details }}</h5>
          <h6 class="card-title text-info">{{ highlightsSelected.title }}</h6>

        </div>
        <div class="card-body" *ngIf="!highlightsSelected">
          <div class="alert alert-danger" role="alert">
            Select a Highlights on the list to see the clip<br>
            <i class="fab fa-youtube fa-2x text-danger"></i>
          </div>
        </div>
      </div>
      <div *ngIf="highlightsSelected" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
          [src]="('https://www.youtube.com/embed/' + highlightsSelected.link) | safe" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
</div>