<div class="container">
  <div class="card bg-dark text-white">
      <img class="card-img teamdetail" src="assets/images/sports/{{country}}/ind6.jpg" alt="Card image">
      <div class="card-img-overlay"></div>
  </div>
  <div>

    <ol class="breadcrumb breadcrumb-right-tag">
      <li class="breadcrumb-item" (click)="selectedTab('overview')">Overview</li>
      <li class="breadcrumb-item" (click)="selectedTab('player')">Player</li>
      <li class="breadcrumb-item" (click)="selectedTab('news')">News</li>
      <li class="breadcrumb-item" (click)="selectedTab('photos')">Photos</li>
      <li class="breadcrumb-item" (click)="selectedTab('fixture')">Fixtures</li>
    </ol>
    
    <div [ngSwitch]='tabName'>
      <div *ngSwitchCase="'overview'">
        <div class="row">
          <div class="col-3" *ngFor="let item of team.overview | keyvalue">
            <div class="card" >
              <div class="card-body">
                <span class="card-title badge badge-secondary"> {{item.key}}</span>
                  <div *ngFor='let i of item.value | keyvalue'>
                    <!-- <div *ngIf="i.key =='Rank'">
                      <h1>{{i.value}}</h1>
                    </div> -->
                    <dl class="row">
                      <dt class="col-6">{{i.key}}</dt>
                      <dd class="col-6">{{i.value}}</dd>
                    </dl>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row playerSection' *ngSwitchCase="'player'">
        <div class="col-3 playerBox" *ngFor="let player of team.Player">
          <div class="card">
            <img src="{{player.imgUrl}}">
            <strong>Name: {{player.Name}}</strong>
          </div>
       </div>
      </div>
      <div class="newsSection" *ngSwitchCase="'news'">
          <div class="newsBox" *ngFor='let n of news'>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <img class="card-img-bottom" src="..." alt="Card image cap">
            </div>
          </div>
      </div> 
      <div *ngSwitchCase="'photos'">
        
      </div>
      <div *ngSwitchCase="'fixture'">
        <div class="row">
          <div class="col-7">
            <table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
              <thead>
                <tr>
                  <th class="text-secondary" style="text-align:center;">Date</th>
                  <th class="text-primary" style="text-align:center;">Details</th>
                  <th class="text-info" style="cursor: pointer;text-align:center;">Venue</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of team.fixture" class="table-{{ item.class }}">
                  <td class="text-secondary" style="cursor: pointer;text-align:center">{{item.date}}</td>
                  <td class="text-primary" style="cursor: pointer;text-align:center">{{ item.Details }}</td>
                  <td class="text-info" style="cursor: pointer;text-align:center" (click)='selectVenue(item)'>{{ item.venue }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div  class='col-4' *ngIf="embed" class="embed-responsive embed-responsive-16by9">
            <div class="mapouter" style="height: 100px;"><div class="gmap_canvas">
              <iframe [src]="('https://maps.google.com/maps?q=')+embed |safe" width="100px"height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
              </iframe>
              <!-- <iframe  id="gmap_canvas" [src]="('https://maps.google.com/maps?q=')+embed |safe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
              </iframe> -->
            </div> 
          </div>
        </div> 
      </div>
      <div *ngSwitchDefault>
        this is default..
      </div>
    </div>
  </div>
</div> 