<footer >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3" id="footerCol1">
          <ul class="list-unstyled">
            <li><a  href="#"><p id="col1_heading">Century Sports</p></a></li>
            <li ><a href="#"><p><i>Sports is for everyone!</i></p></a></li>
            <li><p>Copyright &copy; 2016 Century Sports</p></li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-3">
          <ul class="list-unstyled footerColumn">
            <li><a href="#"><p id="col2_heading">Know Us </p></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Rewards</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-3">
            <ul class="list-unstyled footerColumn">
              <li><a href="#"><p id="col3_heading">Topics</p></a></li>
              <li><a href="#">NBA</a></li>
              <li><a href="#">Premier League</a></li>
              <li><a href="#">World Cup League 2</a></li>
              <li><a href="#">UEFA Champions League</a></li>
              <li><a href="#">IPL 2020</a></li>
            </ul>
        </div>
        <div class="col-xs-4 col-sm-3">
          <ul class="list-unstyled" id="socialLink">
            <p>Connect with us!</p>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </footer>
