.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 500px;

    img.card-img-top {
        height: 200px;
    }

    .custom-card-footer {
        text-align: center;

        button {
            width: 100%;
        }
    }
    .subscription-data {
        margin-bottom: 5px;
        .sub-heading {
            font-weight:700;
            padding-right: 5px;
        }
        .sub-heading-value{
            font-weight: 500;
        }
    }

    .disable-subscription {
        background-color: rgb(65, 47, 167);
        pointer-events: none;
        border: 1px solid  rgb(65, 47, 167);
    }
   
}
