.container {
    margin-top: 50px;
    margin-bottom: 50px;
    // background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blockquote{
    position: relative;
    left: 70px;
}
.card{
    position: relative;
    left: 350px;
}