<div class="container">
  <div class="breadcrumb csp-card-gallery">
    <h3>Sports Gallery</h3>
  </div>
    <table *ngIf="imageList">
      <tr *ngFor="let i of index">
        <td>
          <div class="imagebox" *ngIf="i==0">
            <a routerLink="/images/uploads">
              <img src="/assets/img/new_image.jpg" class="img-fluid">
              <span class="imagebox-desc">Insert New Image</span></a>
          </div>
          <div class="imagebox" *ngIf="i!=0">
            <img [src]="imageList[4*i-1].imageUrl" class="img-fluid">
            <span class="imagebox-desc">{{imageList[4*i-1].caption}}</span>
          </div>
        </td>
        <td *ngIf="imageList[4*i]">
          <div class="imagebox">
            <img [src]="imageList[4*i].imageUrl" class="img-fluid">
            <span class="imagebox-desc">{{imageList[4*i].caption}}</span>
          </div>
        </td>
        <td *ngIf="imageList[4*i+1]">
          <div class="imagebox">
            <img [src]="imageList[4*i+1].imageUrl" class="img-fluid">
            <span class="imagebox-desc">{{imageList[4*i+1].caption}}</span>
          </div>
        </td>
        <td *ngIf="imageList[4*i+2]">
          <div class="imagebox">
            <img [src]="imageList[4*i+2].imageUrl" class="img-fluid">
            <span class="imagebox-desc">{{imageList[4*i+2].caption}}</span>
          </div>
        </td>
      </tr>
    </table>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-4 imagebox-default">
      <a routerLink="/images/uploads">
        <img src="/assets/img/new_image.jpg" class="img-fluid">
        <span class="imagebox-desc">Insert New Image</span>
        </a>
    </div>
    <div class="col-4 imagebox" *ngFor='let img of imageList'>
      <img [src]="img.imageUrl">
      <span class="imagebox-desc">{{img.caption}}</span>
    </div>
  </div>
</div> -->
 