/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    position: relative;
}

body{
}

@font-face {
    font-family: 'Lobster', cursive;
    src: url('assets/fonts/Lobster/Lobster-Regular.ttf');
}

.csContainer {
    height: 100%;
}
