//theme1
$color-background: #44318d;
$color-foreground-primary: #d83f87;
$color-foreground-secondary: #8263aa;
$color-text-primary: #2a1b3d;
$color-text-secondary: #a4b3b6;
$color-card-background: #fafafa;


$csp-primary-background-image: linear-gradient(-45deg, rgb(12, 115, 175) 0%, #44318d 100%); 
$card-background-color: $color-card-background;


