<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 class='csp-logo'>Get Started</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Help Desk</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>SignUp</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About Us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Company</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Partners</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Careers</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Press</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Editorial Unit</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>The World</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Take care of yourself</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Health Journal</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Brand Subscription</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr />
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="#">Century Sports</a></u> is a Registered trademark of CSP Group.</p>
                <p class="h6">&copy; All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Century Sports</a></p>
            </div>
            <hr />
        </div>	
    </div>
</section>
<!-- ./Footer -->