#home-carousel {
    margin-top: 50px;
    box-shadow: 7px 11px #333;
}

.carousel-item img {
    height: 500px;
    border: 7px solid white;
    object-fit: cover;
}

.carousel-caption {
    background: radial-gradient(black, transparent);
}
.carousel-caption h3, .carousel-caption p {
    color: #fff;
}